* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(rgba(234, 235, 243, 0.974) 0%, rgb(145, 149, 153) 100%);
}

/* USED 'header' AS PARENT */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(
        rgba(93, 157, 252, 0.914) 0%,
        rgb(17, 0, 203) 100%);
    color: #ffffff;
    border-bottom: 2px solid black;
}

/* USED 'h1' AS PARENT */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* CREATED AN ID TO USE "#" TO SELECT SPECIFIC ELEMENT */
#seo {
    color: rgb(174, 180, 187);
}

/* USED 'header' AS PARENT */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* USED 'ul' AS PARENT */
ul {
    list-style-type: none;
}

/* USED 'li' AS PARENT */
li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

p {
    font-size: 20px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: solid 2px black;
}

/* USED 'content' AS PARENT */
content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* USED 'section' VS 3-SEPARATE DIV CLASSES */
section {
    margin-bottom: 15px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-image: linear-gradient(
        rgba(93, 157, 252, 0.914) 0%,
        rgb(17, 0, 203) 100%);
    border: 1.5px solid black;
    text-align: center;
}

/* USED 'h2' FOR PARENT */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
    text-align: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* USED 'section img' VS 3-SEPARATE IMG CLASSES */
section img {
    max-height: 200px;
    border: 1px solid #ffffff;
}

/* CHANGED DIV TO 'aside' */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(
        rgba(93, 157, 252, 0.914) 0%,
        rgb(17, 0, 203) 100%);
    border: 1.5px solid black;
    text-align: center;
}

/* USED 'article' VS DIV CLASS */
article {
    margin-bottom: 24px;
    color: #ffffff;
}

/* USED 'h3' VS DIV CLASSES */
h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

/* USED 'aside img' VS 3-SEPARATE CLASSES */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* CREATED A FOOTER */
footer {
    padding: 30px;
    font-size: 20px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}